# carton snapshot format: version 1.0
DISTRIBUTIONS
  Carp-Assert-0.21
    pathname: N/NE/NEILB/Carp-Assert-0.21.tar.gz
    provides:
      Carp::Assert 0.21
    requirements:
      Carp 0
      Exporter 0
      ExtUtils::MakeMaker 0
      perl 5.006
      strict 0
      vars 0
      warnings 0
  Exporter-Tiny-1.000000
    pathname: T/TO/TOBYINK/Exporter-Tiny-1.000000.tar.gz
    provides:
      Exporter::Shiny 1.000000
      Exporter::Tiny 1.000000
    requirements:
      ExtUtils::MakeMaker 6.17
      perl 5.006001
  List-MoreUtils-0.419
    pathname: R/RE/REHSACK/List-MoreUtils-0.419.tar.gz
    provides:
      List::MoreUtils 0.419
      List::MoreUtils::PP 0.419
    requirements:
      Exporter::Tiny 0.038
      ExtUtils::MakeMaker 0
  URI-Encode-v1.1.1
    pathname: M/MI/MITHUN/URI-Encode-v1.1.1.tar.gz
    provides:
      URI::Encode v1.1.1
    requirements:
      Encode 2.12
      Module::Build 0.38
      Test::More 0
      perl v5.8.1
      version 0
  YAML-1.23
    pathname: I/IN/INGY/YAML-1.23.tar.gz
    provides:
      YAML 1.23
      YAML::Any 1.23
      YAML::Dumper undef
      YAML::Dumper::Base undef
      YAML::Error undef
      YAML::Loader undef
      YAML::Loader::Base undef
      YAML::Marshall undef
      YAML::Mo undef
      YAML::Node undef
      YAML::Tag undef
      YAML::Type::blessed undef
      YAML::Type::code undef
      YAML::Type::glob undef
      YAML::Type::ref undef
      YAML::Type::regexp undef
      YAML::Type::undef undef
      YAML::Types undef
      YAML::Warning undef
      yaml_mapping undef
      yaml_scalar undef
      yaml_sequence undef
    requirements:
      ExtUtils::MakeMaker 0
      perl 5.008001
